@{
    Layout = "_Layout";
}
@await Html.PartialAsync("PageHeader",ViewData)
<div class="content">
    @RenderBody()
</div>

@section Scripts {
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script type="text/javascript" src="~/lib/select2/js/select2.min.js"></script>

    @RenderSection("Scripts", false)
}

@section HeadInject {
    <link rel="stylesheet" href="~/lib/select2/css/select2.min.css" />
}