@model CCRestitution.Models.MoneyOrdered

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>MoneyOrdered</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AccountNumber" class="control-label"></label>
                <input asp-for="AccountNumber" class="form-control" />
                <span asp-validation-for="AccountNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Opened" class="control-label"></label>
                <input asp-for="Opened" class="form-control" />
                <span asp-validation-for="Opened" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Closed" class="control-label"></label>
                <input asp-for="Closed" class="form-control" />
                <span asp-validation-for="Closed" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="EHM" /> @Html.DisplayNameFor(model => model.EHM)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="FineAmount" class="control-label"></label>
                <input asp-for="FineAmount" class="form-control" />
                <span asp-validation-for="FineAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FineOpenDate" class="control-label"></label>
                <input asp-for="FineOpenDate" class="form-control" />
                <span asp-validation-for="FineOpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FinePayByDate" class="control-label"></label>
                <input asp-for="FinePayByDate" class="form-control" />
                <span asp-validation-for="FinePayByDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FineCloseDate" class="control-label"></label>
                <input asp-for="FineCloseDate" class="form-control" />
                <span asp-validation-for="FineCloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MandatorySurchargeAmount" class="control-label"></label>
                <input asp-for="MandatorySurchargeAmount" class="form-control" />
                <span asp-validation-for="MandatorySurchargeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MandatorySurchargeOpenDate" class="control-label"></label>
                <input asp-for="MandatorySurchargeOpenDate" class="form-control" />
                <span asp-validation-for="MandatorySurchargeOpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MandatorySurchargePayByDate" class="control-label"></label>
                <input asp-for="MandatorySurchargePayByDate" class="form-control" />
                <span asp-validation-for="MandatorySurchargePayByDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MandatorySurchargeCloseDate" class="control-label"></label>
                <input asp-for="MandatorySurchargeCloseDate" class="form-control" />
                <span asp-validation-for="MandatorySurchargeCloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EHMAmount" class="control-label"></label>
                <input asp-for="EHMAmount" class="form-control" />
                <span asp-validation-for="EHMAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestitutionAmount" class="control-label"></label>
                <input asp-for="RestitutionAmount" class="form-control" />
                <span asp-validation-for="RestitutionAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestitutionOpenDate" class="control-label"></label>
                <input asp-for="RestitutionOpenDate" class="form-control" />
                <span asp-validation-for="RestitutionOpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestitutionPayByDate" class="control-label"></label>
                <input asp-for="RestitutionPayByDate" class="form-control" />
                <span asp-validation-for="RestitutionPayByDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RestitutionCloseDate" class="control-label"></label>
                <input asp-for="RestitutionCloseDate" class="form-control" />
                <span asp-validation-for="RestitutionCloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherAmount" class="control-label"></label>
                <input asp-for="OtherAmount" class="form-control" />
                <span asp-validation-for="OtherAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherOpenDate" class="control-label"></label>
                <input asp-for="OtherOpenDate" class="form-control" />
                <span asp-validation-for="OtherOpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherPayByDate" class="control-label"></label>
                <input asp-for="OtherPayByDate" class="form-control" />
                <span asp-validation-for="OtherPayByDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OtherCloseDate" class="control-label"></label>
                <input asp-for="OtherCloseDate" class="form-control" />
                <span asp-validation-for="OtherCloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurchargeAmount" class="control-label"></label>
                <input asp-for="SurchargeAmount" class="form-control" />
                <span asp-validation-for="SurchargeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurchargeOpenDate" class="control-label"></label>
                <input asp-for="SurchargeOpenDate" class="form-control" />
                <span asp-validation-for="SurchargeOpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurchargePayByDate" class="control-label"></label>
                <input asp-for="SurchargePayByDate" class="form-control" />
                <span asp-validation-for="SurchargePayByDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SurchargeCloseDate" class="control-label"></label>
                <input asp-for="SurchargeCloseDate" class="form-control" />
                <span asp-validation-for="SurchargeCloseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisionFeeAmount" class="control-label"></label>
                <input asp-for="SupervisionFeeAmount" class="form-control" />
                <span asp-validation-for="SupervisionFeeAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisionFeeOpenDate" class="control-label"></label>
                <input asp-for="SupervisionFeeOpenDate" class="form-control" />
                <span asp-validation-for="SupervisionFeeOpenDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SupervisionFeeCloseDate" class="control-label"></label>
                <input asp-for="SupervisionFeeCloseDate" class="form-control" />
                <span asp-validation-for="SupervisionFeeCloseDate" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="YO" /> @Html.DisplayNameFor(model => model.YO)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Notes" class="control-label"></label>
                <input asp-for="Notes" class="form-control" />
                <span asp-validation-for="Notes" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Created" class="control-label"></label>
                <input asp-for="Created" class="form-control" />
                <span asp-validation-for="Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Updated" class="control-label"></label>
                <input asp-for="Updated" class="form-control" />
                <span asp-validation-for="Updated" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
